# Ignore everything by default
*

# Allow chain, backend, scratch, and go.work
!chain/
!backend/
!scratch/
!go.work
!go.work.sum
!explorer/
!frontend/
!explorer-api/
!explorer-indexer/
!packages/
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
!oracle/
!relayer/

# Ignore intermediate build artifacts inside chain and scratch
**/bin/
**/obj/
**/*.test
**/.git/
**/node_modules/
**/.next/
**/dist/
